@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
    background: rgb(243,4,4);
    background: linear-gradient(0deg, rgba(243,4,4,1) 0%, rgba(255,94,0,1) 45%, rgba(255,211,0,1) 100%);
    /* background-repeat: no-repeat;
    background-size: cover; */
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    color: black;
    background-color: white;
    padding: 3px;
    font-family: 'Indie Flower', sans-serif;
    font-size: 2em;
    box-shadow: 0px 0px 30px blue;
    text-shadow: 0 0 5px purple;
    border-radius: 15px;

}

#words1{
    width: 30%;
    text-align: center;
    position: absolute;
    left: 2%;
}

#words2{
    width: 45%;
    text-align: center;
    position: absolute;
    bottom: 55%;
    left: 25%;
}

#words3{
    width: 18%;
    text-align: center;
    position: absolute;
    bottom: 0%;
    right: 2%;
}

#moon {
    position: absolute;
    right: 20%;
    top: 10%;
    width: 100px;
    height: 100px;
    border-radius: 60%;
    box-shadow: 30px 10px 0 0 white;
  }

  .circleshape {
    width: 10px;
    height: 10px;
    position: absolute;
    left: 5%;
    top: 5%;
    background: white;
    border-radius: 50%;
    transition: .7s;
  }

  .smallStar{
      width: 5px;
      height: 5px;
      position: absolute;
      left: 10%;
      top: 10%;
      background: white;
      border-radius: 50%;
      transition: .7s;
  }

  .smallStar:hover,
  .circleshape:hover{
      opacity: .1;
  }

  #star1{
      left: 90%;
      top: 30%;
  }

  #star2{
    left: 75%;
    top: 2%;
}
#star3{
    left: 22%;
    top: 28%;
}
#star4{
    left: 3%;
    top: 35%;
}
#star5{
    left: 67%;
    top: 10%;
}
#star6{
    left: 50%;
    top: 26%;
}
#star7{
    left: 96%;
    top: 10%;
}
#star8{
    left: 32%;
    top: 13%;
}
#star9{
    left: 39%;
    top: 34%;
}


.mountainstyle{
    position: absolute;
    content: '';
    bottom: 0;
    border-top: 0px solid transparent;
}

#mountain-shadow{
    position: absolute;
    content: '';
    bottom: 0px;
    left: -200px;
    border-top: 0px solid transparent;
    border-right: 200px solid trasnparent;
    border-left: 300px solid transparent;
    border-bottom: 260px solid darkgrey;
}

#mountain{
    left: -200px;
    border-right: 300px solid transparent;
    border-left: 300px solid transparent;
    border-bottom: 260px solid darkSlateBlue; /*mountain height*/
}

#mountain-shadow1{
    position: absolute;
    content: '';
    bottom: 100px;
    left: 220px;
    border-top: 0px solid transparent;
    border-right: 200px solid trasnparent;
    border-left: 80px solid transparent;
    border-bottom: 180px solid darkseagreen;
}

#mountain1{
    left: 120px;
    border-right: 180px solid transparent;
    border-left: 180px solid transparent;
    border-bottom: 300px solid darkSlateBlue; /*mountain height*/
}

#mountain-shadow2{
    position: absolute;
    content: '';
    bottom: 0px;
    left: 300px;
    border-top: 0px solid transparent;
    border-right: 200px solid trasnparent;
    border-left: 250px solid transparent;
    border-bottom: 350px solid darkgrey;
}

#mountain2{
    left: 300px;
    border-right: 250px solid transparent;
    border-left: 250px solid transparent;
    border-bottom: 350px solid darkSlateBlue; /*mountain height*/
}

#mountain-shadow3{
    position: absolute;
    content: '';
    bottom: 210px;
    left: 650px;
    border-top: 0px solid transparent;
    border-right: 200px solid trasnparent;
    border-left: 50px solid transparent;
    border-bottom: 40px solid darkseagreen;
}

#mountain3{
    left: 400px;
    border-right: 300px solid transparent;
    border-left: 300px solid transparent;
    border-bottom: 260px solid darkSlateBlue; /*mountain height*/
}

#mountain-shadow4{
    position: absolute;
    content: '';
    bottom: 140px;
    left: 730px;
    border-top: 0px solid transparent;
    border-right: 200px solid trasnparent;
    border-left: 120px solid transparent;
    border-bottom: 300px solid darkseagreen;
}

#mountain4{
    left: 900px;
    border-right: 180px solid transparent;
    border-left: 180px solid transparent;
    border-bottom: 300px solid darkSlateBlue; /*mountain height*/
}

#mountain-shadow5{
    position: absolute;
    content: '';
    bottom: 0px;
    left: 900px;
    border-top: 0px solid transparent;
    border-right: 200px solid trasnparent;
    border-left: 180px solid transparent;
    border-bottom: 300px solid darkgrey;
}

#mountain5{
    left: 600px;
    border-right: 250px solid transparent;
    border-left: 250px solid transparent;
    border-bottom: 450px solid darkSlateBlue; /*mountain height*/
}

#mountain-shadow6{
    position: absolute;
    content: '';
    bottom: 160px;
    left: 1180px;
    border-top: 0px solid transparent;
    border-right: 200px solid trasnparent;
    border-left: 100px solid transparent;
    border-bottom: 150px solid darkseagreen;
}

#mountain6{
    /* right: 0px; */
    left: 1030px;
    border-right: 250px solid transparent;
    border-left: 250px solid transparent;
    border-bottom: 350px solid darkSlateBlue; /*mountain height*/
}